@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
  }
}

@layer components {
  .page-container {
    @apply flex flex-col min-h-screen;
  }
  .content-wrap {
    /* @apply flex-1 */
    flex: 1;
  }
}
